// .bg-full {
//   background-image: url(~assets/images/background.png);
// }
// .bg-banner {
//   background-image: url(~assets/images/banner.png);
// }
  .bg-home1 {
    background-image: url(~assets/images/home-1.png);
    width: 150px;
    height: 305px;
    position: absolute;
    bottom:0;
    left: 0;
  }
  .bg-home2 {
    background-image: url(~assets/images/home-2.png);
    width: 122px;
    height: 255px;
    position: absolute;
    top: 0;
    right: 0;
  }
.bg-people1 {
  background-image: url(~assets/images/people-1.png);
  width: 189px;
  height: 268px;
  position: absolute;
  left: 42.34%;
  right: 42.89%;
  top: 52.92%;
  bottom: 9.86%;
}
.bg-people2 {
  background-image: url(~assets/images/people-2.png);
  width: 130px;
  height: 218px;
  position: absolute;
  left: 61.25%;
  right: 28.59%;
  top: 61.81%;
  bottom: 7.92%;
}
.bg-people3 {
  background-image: url(~assets/images/people-3.png);
  width: 142px;
  height: 248px;
  position: absolute;
  left: 73.2%;
  right: 15.7%;
  top: 55%;
  bottom: 10.56%;
}
.bg-people4 {
  background-image: url(~assets/images/people-4.png);
  width: 145px;
  height: 278px;
  position: absolute;
  left: 75.55%;
  right: 13.12%;
  top: 33.19%;
  bottom: 28.19%;
}
.bg-potted-plant {
  background-image: url(~assets/images/pottedplant.png);
  width: 100px;
  height: 170px;
  position: absolute;
  left: 69.69%;
  right: 22.5%;
  top: 68.47%;
  bottom: 7.92%;
}
.bg-seed {
  background-image: url(~assets/images/seed.png);
  width: 27px;
  height: 37px;
  position: absolute;
  left: 74.53%;
  right: 23.36%;
  top: 87.78%;
  bottom: 7.08%;
}
.bg-grassland-1 {
  background-image: url(~assets/images/grassland-1.png);
  width: 243px;
  height: 62px;
  position: absolute;
  bottom:158px;
  left: 0;
}
.bg-grassland-2 {
  background-image: url(~assets/images/grassland-2.png);
  width: 670px;
  height: 108px;
  position: absolute;
  left: 38.12%;
  right: 9.53%;
  top: 82.08%;
  bottom: 2.92%;
}
.bg-user-history {
  background: #F0F0F0;
}